<ion-header translucent="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/login" color="warning">
        <ion-icon slot="icon-only" size="large" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">Ecolomie</ion-title>
  </ion-toolbar>
  <ion-toolbar color="danger">
    <ion-title class="ion-text-uppercase">expiration-proche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">expiration-proche</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="perime">
    <ion-list-header>
     PERIME
    </ion-list-header>
    <ion-list>
      <div *ngFor="let productUserStorage of productUserStorages"> 
        <ng-container *ngIf="calculateDaysDifference(productUserStorage.DLC) < 0">
          <div class="product-thumbnail">
            <div class="product-thumbnail-title">
              <p> {{ productUserStorage.product.name }} </p>
              <p> {{ productUserStorage.DLC | date: 'dd/MM/yyyy' }}</p>
              <p> Périmé depuis: {{ calculateDaysDifference(productUserStorage.DLC) }}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </ion-list>
  </ion-list>

  <ion-list class="dans-1-jour">
    <ion-list-header>
      Dans 1 jour
    </ion-list-header>
    <ion-list>
      <div *ngFor="let productUserStorage of productUserStorages"> 
        <ng-container *ngIf="calculateDaysDifference(productUserStorage.DLC) === 1 && calculateDaysDifference(productUserStorage.DLC) >= 0">
          <div class="product-thumbnail">
            <div class="product-thumbnail-title">
              <p> {{ productUserStorage.product.name }} </p>
              <p> {{ productUserStorage.DLC | date: 'dd/MM/yyyy' }}</p>
              <p> J - {{ calculateDaysDifference(productUserStorage.DLC) }}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </ion-list>
  </ion-list>

  <ion-list class="dans-7-jours">
    <ion-list-header>
      Dans 7 jours
    </ion-list-header>
    <ion-list >
      <div *ngFor="let productUserStorage of productUserStorages">
        <ng-container *ngIf="calculateDaysDifference(productUserStorage.DLC) <= 7 && calculateDaysDifference(productUserStorage.DLC) > 2">
          <div class=" product-thumbnail">
            <div class="product-thumbnail-title">
              <p class="dans-7-jours"> {{ productUserStorage.product.name }} </p>
              <p> {{ productUserStorage.DLC | date: 'dd/MM/yyyy' }}</p>
              <p> J - {{ calculateDaysDifference(productUserStorage.DLC) }}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </ion-list>

  </ion-list>

  <ion-list class="dans-15-jours">
    <ion-list-header>
      Dans 15 jours
    </ion-list-header>
    <ion-list>
      <div *ngFor="let productUserStorage of productUserStorages">
        <ng-container *ngIf="calculateDaysDifference(productUserStorage.DLC) <= 15 && calculateDaysDifference(productUserStorage.DLC) >= 8">
          <div class="product-thumbnail">
            <div class="product-thumbnail-title">
              <p> {{ productUserStorage.product.name }} </p>
              <p> {{ productUserStorage.DLC | date: 'dd/MM/yyyy' }}</p>
              <p> J - {{ calculateDaysDifference(productUserStorage.DLC) }}</p>
              <ion-datetime>  </ion-datetime>
            </div>
          </div>
        </ng-container>
      </div>
    </ion-list>

  </ion-list>

</ion-content>

<!-- <ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor="let productUserStorage of productUserStorages">
        <a [routerLink]="['/product-detail', productUserStorage.id]">
          <div class="product-thumbnail">
            <div class="product-thumbnail-title">
              <p> {{ productUserStorage.storage.name }} </p>
              <p> {{ productUserStorage.product.name }} </p>
              <p> {{ productUserStorage.DLC | date: 'dd/MM/yyyy' }}
              </p>
            </div>
          </div>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->
