.product-thumbnail {
  text-align: center;
  padding: 16px;
  background-color: #80c1f0;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  position: relative;

  width: 100%;
  aspect-ratio: 1 / 1;
}

.product-thumbnail-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}

