.perime .product-thumbnail {
    background-color: #8062D6;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 16px;
    color: rgb(25, 24, 24);
    border-radius: 8px;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.dans-1-jour .product-thumbnail {
  background-color: red;
}

.dans-7-jours .product-thumbnail {
  background-color: orange;
}

.dans-15-jours .product-thumbnail  {

  background-color: yellow;

}
.product-thumbnail-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}

.ion-text-center h3 {
  font-size: 1.2em;   /* Augmenter légèrement la taille de la police pour le nom du produit */
  color: black;
}

.textStyle {
  color: black;
}
