<ion-header translucent="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="secondary">
      <ion-button routerLink="/login" color="warning">
        <ion-icon slot="icon-only" size="large" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">Ecolomie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-uppercase">Mes listes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="warning" class="ion-padding" *ngFor="let my_list of my_lists">
    <ion-item-sliding>
      <ion-item color="warning">
        <ion-card-header>
          <ion-card-title class="ion-text-uppercase ion-text-wrap">{{ my_list.name }}</ion-card-title>
        </ion-card-header>
      </ion-item>
    </ion-item-sliding>
  </ion-card>
</ion-content>
