
.ion-text-center h3 {
  font-weight: bold;            /* Appliquer le gras */
  font-size: 1.2em;   /* Augmenter légèrement la taille de la police pour le nom du produit */
  color: black;
}

.perime  {
  background-color: #8062D6;
}

.dans-1-jour {
  background-color: red;
}

.dans-7-jours  {
  background-color: orange;
  color: black;
}

.dans-15-jours  {
  background-color: yellow;
  color: black;
}

.dans-longtemps {
  background-color: green;
  color: white;

}

.bg-card {
  background-color: #17C3B2;
}

.text-storage {
  text-decoration: underline;
}
