.ion-text-center h3, .ion-text-center h4 {
  font-weight: bold;            /* Appliquer le gras */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);  /* Ombre portée pour améliorer le contraste */
}

.ion-text-center h3 {
  font-size: 1.2em;   /* Augmenter légèrement la taille de la police pour le nom du produit */
}

.ion-text-center h4 {
  font-size: 1.1em;   /* Augmenter légèrement la taille de la police pour le stockage */
}

