<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-uppercase">Ecolomie</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let productUserStorage of productUserStorages">
        <ion-card style="background-color: var(--ion-color-secondary);" [routerLink]="['/product-detail', productUserStorage.id]">
          <ion-card-content>
            <div class="ion-text-center">
              <h3 style="color: var(--ion-color-danger-contrast);">{{ productUserStorage.product.name }}</h3>
              <h4 style="color: var(--ion-color-warning);">{{ productUserStorage.storage.name }}</h4>
              <h1 style="color: var(--ion-color-danger-contrast);">{{ productUserStorage.quantity }}</h1>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



