<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-uppercase">Ecolomie</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-header>
    <!-- <ion-toolbar color="light"> -->
      <!-- <ion-buttons slot="end"> -->
        <!-- <ion-button size="small" color="primary" routerLink="/newproduct">
          <ion-icon name="add"></ion-icon>
          <ion-label>Ajouter un produit</ion-label>
        </ion-button> -->
        <!-- <ion-button (click)="changeOrder()">
          Changer l'ordre ({{ order }})
        </ion-button> -->
      <!-- </ion-buttons> -->
    <!-- </ion-toolbar> -->
    <ion-searchbar placeholder="Rechercher un produit" (ionInput)="onSearchBar($event)"></ion-searchbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let productUserStorage of productUserStorages">
        <ion-card class="bg-card" [routerLink]="['/product-detail', productUserStorage.id]">
          <ion-card-content>
            <div class="ion-text-center">
              <ng-container *ngIf="calculateDaysDifference(productUserStorage.DLC) < 0; else oneDay">
                <ion-badge class="perime">J- {{ calculateDaysDifference(productUserStorage.DLC)* -1 }}</ion-badge>
              </ng-container>
              <ng-template #oneDay>
                <ng-container *ngIf="calculateDaysDifference(productUserStorage.DLC) === 1 ||calculateDaysDifference(productUserStorage.DLC) === 0 ; else sevenDays">
                  <ion-badge class="dans-1-jour">J- {{ calculateDaysDifference(productUserStorage.DLC) }}</ion-badge>
                </ng-container>
              </ng-template>
              <ng-template #sevenDays>
                <ng-container *ngIf="calculateDaysDifference(productUserStorage.DLC) >= 7 && calculateDaysDifference(productUserStorage.DLC) < 15; else fifteenDays ">
                  <ion-badge class="dans-7-jours">J- {{ calculateDaysDifference(productUserStorage.DLC) }}</ion-badge>
                </ng-container>
              </ng-template>
              <ng-template #fifteenDays>
                <ng-container *ngIf="calculateDaysDifference(productUserStorage.DLC) <= 15; else longDays">
                  <ion-badge class="dans-15-jours ">J- {{ calculateDaysDifference(productUserStorage.DLC) }}</ion-badge>
                </ng-container>
              </ng-template>
              <ng-template #longDays>
                <ng-container *ngIf="calculateDaysDifference(productUserStorage.DLC) > 15; else longDays">
                  <ion-badge class="dans-longtemps ">J- {{ calculateDaysDifference(productUserStorage.DLC) }}</ion-badge>
                </ng-container>
              </ng-template>
              <h3 class="ion-text-center">{{ productUserStorage.product.name }}</h3>
              <!--class="ion-text-center""  <h3 style="color: var(--ion-color-danger-contrast);">{{ productUserStorage.DLC | date:'short' }}</h3> -->
              <h3 class="ion-text-center text-storage">{{ productUserStorage.storage.name }}</h3>
              <h3 class="ion-text-center">* qté : {{ productUserStorage.quantity }}</h3>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



