<!-- Description: Page de la liste des produits -->
<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="secondary">
      <ion-button routerLink="/tabs/tab3" size="small" color="warning">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Ecolomie</ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-title>Mes produits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-toolbar color="light">
      <ion-buttons slot="end">
        <ion-button size="small" color="primary" routerLink="/newproduct">
          <ion-icon name="add"></ion-icon>
          <ion-label>Ajouter un produit</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="3" *ngFor="let productUserStorage of productUserStorages">
          <a [routerLink]="['/product-detail', productUserStorage.id]">
            <div class="product-thumbnail">
              <div class="product-thumbnail-title">
                <!-- <p> {{ productUserStorage.DLC }} </p> -->
                <p> {{ productUserStorage.storage.name }} </p>
                <p> {{ productUserStorage.product.name }} </p>
              </div>
            </div>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

