<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/" style="font-size: 1.5em;"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-uppercase">Ecolomie</ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/login" color="warning" *ngIf="!isLoggedIn">
          <ion-icon slot="icon-only" size="large" name="person-circle"></ion-icon>
        </ion-button>
        <ion-button color="danger" *ngIf="isLoggedIn" (click)="onLogout()">
          <ion-icon slot="icon-only" size="large" name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="light">
      <ion-buttons slot="end">
          <ion-button size="small" color="primary" routerLink="/newproduct-for-list/{{idList}}">
              <ion-icon name="add" style="font-size: 1.2em;"></ion-icon>
              <ion-label>Ajouter un produit</ion-label>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-col size="12" *ngFor="let myListProduct of myListProducts, let i = index">
      <ng-container *ngIf="myListProduct.myList.id === idList">
        <ion-card [class.transparent-card]="myListProduct.isProductBuy" color="light">
          <ion-card-header class="ion-text-center">
            <ion-card-title><strong>{{ myListProduct.productForList.name }}</strong></ion-card-title>
            <ion-card-subtitle>Acheté : <strong>{{ myListProduct.isProductBuy ? 'Oui' : 'Non' }}</strong></ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="ion-text-center">
            Quantité : <strong>{{ myListProduct.quantity }}</strong>
          </ion-card-content>

          <ion-row class="ion-align-items-center">
            <ion-col size="2">
              <ion-checkbox (ionChange)="onClickCheckBox($event, myListProduct)" style="zoom: 1.5;"></ion-checkbox>
            </ion-col>
            <ion-col size="3" class="ion-text-center">
              <ion-button fill="clear" color="primary" (click)="decreaseQuantity(myListProduct)">
                <ion-icon name="remove-circle" style="font-size: 1.2em;"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="2" class="ion-text-center">
              <strong>{{ myListProduct.quantity }}</strong>
            </ion-col>
            <ion-col size="3" class="ion-text-center">
              <ion-button fill="clear" color="success" (click)="increaseQuantity(myListProduct)">
                <ion-icon name="add-circle" style="font-size: 1.2em;"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="2">
              <ion-button fill="clear" color="danger" (click)="openDeleteConfirm(myListProduct.id)">
                <ion-icon name="trash" style="font-size: 1.2em;"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ng-container>
    </ion-col>
  </ion-grid>
</ion-content>
