<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/login" color="warning">
        <ion-icon slot="icon-only" size="large" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">Ecolomie</ion-title>
  </ion-toolbar>
  <ion-toolbar color="danger">
    idList : {{ idList}} //
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-col size="12" *ngFor="let productOfMyList of productsOfMyList, let i = index">
    <ion-col size="12" *ngFor="let list of productOfMyList.myList">
      <ng-container *ngIf="list.id == idList">  
        <ion-list>
          id: {{ productOfMyList.id }}
        </ion-list>
        <ion-list>
          name : {{ productOfMyList.name }}
        </ion-list>
        <ion-list>
          qtt: 
          <ion-button class="button-spacing" color="white" (click)="decreaseQuantity(productOfMyList, i)">-</ion-button>
            {{ productOfMyList.quantity }}
          <ion-button class="button-spacing" color="white" (click)="increaseQuantity(productOfMyList, i)">+</ion-button>

        </ion-list>
        <ion-list>
          categorie : {{ productOfMyList.category.name }}
        </ion-list>
        <ion-list>
          {{ list.name }}
          {{ list.id }}
        </ion-list>
      </ng-container>
    </ion-col>
  </ion-col>
</ion-content>  




