<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>list-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let productOfMyList of productsOfMyList">
        <ng-container *ngIf="productOfMyList.id == idList"> 
        <ion-card color="light">
          <ion-card-header>
            <ion-card-subtitle> my_list_id : {{ productOfMyList.id }}</ion-card-subtitle>
            <ion-card-subtitle> idList.idList : {{  idList }} </ion-card-subtitle>
            <ion-card-subtitle> my_list.name : {{ productOfMyList.name }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ng-container *ngFor="let product of productOfMyList.products">
              <ion-card-subtitle> products_id : {{ product.id }} </ion-card-subtitle>
              <ion-card-subtitle> product.name : {{ product.name }} </ion-card-subtitle>
            </ng-container>
          </ion-card-content>
        </ion-card>
      </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
