<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="secondary">
      <ion-button routerLink="/login" size="small" color="warning">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Ecolomie</ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-title>
      Mes listes
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-list>
    <ion-list-header>
      <ion-label>TOTO</ion-label>
    </ion-list-header>
    <ion-list>
      <ion-item> {{ currentProduct }} </ion-item>
        <!-- <ion-select-option *ngFor="let currentProduct of currentProduct" >


          <ion-item> {{ currentProduct.brands }} </ion-item>


          <ion-item lines="none">
            <ion-label>Current value: {{ currentProduct | json }}</ion-label>
          </ion-item>
        </ion-select-option> -->
          <!-- <ion-item *ngFor="let item of products | keyvalue">
            <ng-container *ngIf="item.key === 'brands'">
              {{ item.key }} : {{ item.value }}
            </ng-container>
          </ion-item> -->
      </ion-list>

  </ion-list>

</ion-content>

