<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="secondary">
      <ion-button routerLink="/login" size="small" color="warning">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Ecolomie</ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">

    <ion-button (click)="scanBarcode()">Scan Barcode</ion-button>
    <p *ngIf="currentProduct">Brand: {{currentProduct}}</p>
  </ion-toolbar>
</ion-header>


