<ion-header translucent="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="secondary">
      <ion-button routerLink="/login" size="small" color="warning">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Ecolomie</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="end">
        <ion-button size="small" color="primary" (click)="createNewStorage('nouveau stockage')">
            <ion-title>Créer un stockage</ion-title>
        </ion-button>
    </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let storage of storages">
      <ion-img alt="Image d'un stockage" src="https://ionicframework.com/docs/img/demos/card-media.png"></ion-img>
      <ion-card-header>
        <ion-card-title>
          <ion-item lines="none">
            <ion-input slot="start" [(ngModel)]="storage.name" [disabled]="!isEditing || selectedStorageId !== storage.id"></ion-input>
            <ion-button slot="end" fill="clear" size="small" (click)="updateStorage(storage.id, storage.name)" color="success"
              fill="outline" *ngIf="isEditing && selectedStorageId === storage.id">
              <ion-icon slot="icon-only" name="checkmark"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card-title>
      </ion-card-header>
      <ion-button expand="block" size="small" (click)="actionSheetButtons(storage.id)" color="primary">Editer</ion-button>
    </ion-card>
</ion-content>
